.container{
    height: 380px;
    background-color: var(--bgsoft);
    border-radius: 10px;
    padding:50px;
    
}
.title{
    font-weight: bold;
    color: var(softtext);
    margin-bottom: 20px;
    margin-left: -40px;
    margin-top: -40px;
}