
.form{
    background-color: var(--bgsoft);
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form input{
    padding: 30px;
    border: 2px solid rgb(138, 138, 138);
    border-radius: 5px;
    background-color: var(--bg);
    color: white;
    width: 100%;

}

.form button{
    padding: 30px;
    background-color: #008080;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}