.container{
    background-color: var(--bgsoft);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    width: 100%;
   
    
}
 .container:hover{
    background-color: var(--bgsofter);

 }

 .title{
    font-size: 14px;
    font-weight: bolder;
 }

.texts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.number{
    font-size: 14px;
    font-weight: 500;
}

.detal{
    font-size: 14px;
    font-weight: 300;
}

.positive{
    color: lime;
}

.negative{
    color: red;
}